.netflix-headings{
    color: white;
    margin-bottom: 0px;
    margin-left: 20px;
}
.image-row{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 40px;
}
.image-row::-webkit-scrollbar{
    display: none;
}
.image{
    object-fit: contain;
    max-height: 100px;
    display: block;
    transition: transform 0.45s;
    padding-top:20px;
    padding-bottom: 20px;
}
.image:hover{
    transform: scale(1.08);
}
.large-image{
    max-height: 250px;
    transition: transform 0.45s;
    padding-top:20px;
    padding-bottom: 20px;
}
.large-image:hover{
    transform: scale(1.09);
}

.img-card{
     position: relative; 
     margin-right: 10px;
}
.img-card:hover .overlay{
    opacity: 1;
    
}
.img-card:hover{
    cursor: pointer;
}
.overlay{
    position: absolute;
    opacity: 0;
    bottom: 10px;
    transition: .5s ease;
    font-size: 15px;
    font-weight: bold;
    z-index: 2000;
    color: white;
}

