.netflix-headings{
    color: white;
    margin-bottom: 0px;
    margin-left: 20px;
}
.image-row{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 40px;
}
.image-row::-webkit-scrollbar{
    display: none;
}
.image{
    object-fit: contain;
    max-height: 100px;
    width:100%;
    margin-right: 10px;
    transition: transform 0.45s;
    padding-top:20px;
    padding-bottom: 20px;
}
.image:hover{
    transform: scale(1.08);
}
.large-image{
    max-height: 250px;
    width: 200px;
    margin-right: 10px;
    transition: transform 0.45s;
    padding-top:20px;
    padding-bottom: 20px;
}
.large-image:hover{
    transform: scale(1.09);
}